body {
    font-family: 'Libre Franklin', sans-serif;
}

.form-control {
    font-weight: bold;
    margin: 4px;
  }
  
  .btn {
    box-shadow: 5px 5px 10px rgba(0,0,0,.15);
  }
  
  .table td {
    text-align: left;
  }
  
  #listUbatInput, #ubatTcaInput, #TCAInput {
    width: 100%;
    margin: auto;
    font-weight: normal;
  }
  

